# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnp.*
cache
.npm

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/*.yml
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.changelog
node_modules
vendor
.pnpm-store
.env
